.mini{
    text-align: center;
}

.box{
    
    transition: all 0.1s ease;
}

.special{
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 50%;
    margin: 0.3rem;
    background-color: rgb(222, 72, 18);
    color: #d3c5c5;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: none;
    outline: none;
    
}